textarea.script-input {
	resize: vertical;
	font-family: monospace;
}

.alert-container {
	position: absolute;
}

.alert-block {
	position: relative;
}

.connection-status {
	line-height: 40px;
	height: 40px;
}

.v10 {
	height: 10px;
}